*{
  margin: 0;
}
:root{
  --Bg:#fafafa;
  --text: #111517;
  --element: #ffffff;
  --input: #858585;

}
[data-theme='dark']{
  --Bg:#202c37 ;
  --text: #ffffff;
  --element: 	#2b3945;
  --input: #858585;
}

.App {
  text-align: center;
  background-color: var(--Bg);
  min-height: 100vh;
}
.mode{
  position: relative;
  float: right;
  margin-right: 5%;
}
.mode button{
  background-color: var(--Bg);
  color: var(--text);
  border: none;
  display: flex;
  align-items: center;
  margin-top: 20px;

}
.mode button img{
  color: var(--text) !important;
  width: 20px;
  margin-right: 5px;
}
.containerCards a{
  text-decoration: none;
}



